:root {
    --basic-color: #fdeffa;
    --main-color: #fffbfe;
    --buttom-color: #bd83ce;
    --heading-font-famili: 'Philosopher', sans-serif;
}
body {
    font-family: var(--heading-font-famili);
}
h1,
h2,
h3 {
    font-family: var(--heading-font-famili);
}
h1 {
    font-size: 80px; 
}
.content h1 {
    font-size: 64px;
}
h2 {
    font-size: 28px;
    line-height: 2;
}
h3 {
    font-size: 64px;
}
h4 {
    font-size: 54px;
}
p {
    font-size: 16px;
    line-height: 30px;
}
.navbar {
    min-height: 95px;
    padding: 0 20px;
}
 
.header-name {
    background: var(--basic-color);
    text-align: center;
    padding: 80px 10px;
}
.header-name p {
    font-size: 36px;  
    font-weight: bold;
    margin: 0;
}
.btn-branding {
    background: var(--buttom-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.first-projects {
    background: var(--main-color);
}
.first-projects p {
    font-size: 28px;
    padding: 20px;
}
.text-center {
    text-align: center;
    
}
.btn-branding-outline {
    border: 1px solid var(--buttom-color);
    border-radius: 4px;
    color: var(--buttom-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.description-project {
    padding: 0 50px;
}
.content-container {
    margin: 30px;
}
.content {
   padding: 15px 10px;
}
.content img {
    border-radius: 40px;
    box-shadow: 10px 10px 5px #f5f2f2;
}
.content h3 {
    font-size: 34px;
}
.content-container {
    padding: 0;
    padding-left: 50px;
}
.weather {
    text-align: center;
}
.logo {
    max-width: 80px;
    opacity: 80%;
    border-radius: 5px 20px;
    box-shadow: 5px 5px 2px #f5f2f2;
}
.link-footer {
    font-size: 24px;
    color: var(--buttom-color);
    margin: 0 40px;
    padding: 10px 17px;
    background: var(--basic-color);
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
.link-footer:hover {
    color: var(--main-color);
    background: var(--buttom-color);

}
.contact-box {
    background: var(--basic-color);
    padding: 30px 60px;
    border-radius: 10px;
}
.link-contactpage {
    color: var(--buttom-color);
}
.contact-reference {
color: black;
text-decoration: none;
}

@media (max-width: 960px) {
    h1{
        font-size: 55px;
    }
    .content h1 {
        font-size: 42px;
    }
    h3 {
        font-size: 42px;
    }
    h4 {
        font-size: 36px;
    }
    .description-project {
        padding: 0;
        text-align: center;
    }
    .header-name {
        padding: 60px 10px;
    }
    .content {
        padding: 0px;
        text-align: center;
    }
}